version: "3.9"

services:
    rag-service:
        build:
            context: .
            dockerfile: rag/Dockerfile
        ports:
            - "8001:8001"
        volumes:
            - ./rag:/app/rag
            - ./storages:/storage
            - ./data:/data
        networks:
            - rag_network

    # webui:
    #     image: ghcr.io/open-webui/open-webui:latest
    #     ports:
    #         - "3000:8080"
    #     environment:
    #         OPENAI_API_BASE_URL: http://backend:8000/v1
    #         OLLAMA_BASE_URL: http://host.docker.internal:11434
    #         ENABLE_RAG: "false"
    #         ENABLE_EMBEDDINGS: "false"
    #     networks:
    #         - rag_network
    #     extra_hosts:
    #         - "host.docker.internal:host-gateway"

networks:
    rag_network:

volumes:
    model_cache: